<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userCameraSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScanImage.Properties.CameraSettings" type="System.Configuration.ClientDeviceSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tira.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanImage.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ScanImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SQLiteDbConnection" connectionString="Data Source=.\App_Data\tira.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- Признак включения режима отладки -->
    <add key="EnableBindingErrorTraceListener" value="True" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <variable name="localLogFolder" value="${basedir}/logs" />
    <variable name="traceFilePath" value="${localLogFolder}/${date:cached=True:format=yyyy-MM-dd}.log" />
    <variable name="errorFilePath" value="${localLogFolder}/errors/${date:format=yyyy-MM-dd}.log" />
    <variable name="traceLayout" value="[${longdate}] [${uppercase:${level}}] ${message}" />
    <variable name="errorLayout" value="[${date:format=HH-mm-ss-ffff} ${uppercase:${level}}] ${message} ${newline}===================================== ${newline}Version: ${assembly-version} ${newline}Call Site: ${callsite} ${newline}Exception Type: ${exception:format=Type} ${newline}Exception Message: ${exception:format=Message} ${newline}Stack Trace: ${exception:format=StackTrace} ${newline}Additional Info: ${message}${newline}=====================================${newline}" />
    <variable name="maxArchiveFilesQty" value="5" />
    <variable name="maxArchiveFilesErrorsQty" value="20" />
    <variable name="maxLogFileSizeBytes" value="5242880" />
    <targets async="true">
      <target name="traceTarget" type="File" fileName="${traceFilePath}" layout="${traceLayout}" MaxArchiveFiles="${maxArchiveFilesQty}" ArchiveAboveSize="${maxLogFileSizeBytes}" />
      <target name="errorsTarget" type="File" fileName="${errorFilePath}" layout="${errorLayout}" MaxArchiveFiles="${maxArchiveFilesErrorsQty}" ArchiveAboveSize="${maxLogFileSizeBytes}" />
    </targets>
    <rules>
      <logger name="*" minlevel="trace" writeTo="traceTarget" />
      <logger name="*" minlevel="error" writeTo="errorsTarget" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ak.Framework.Core" publicKeyToken="42ef31747320a29d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5.2" newVersion="1.0.5.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>